@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    width: 100%;
    height:100%;
	line-height: 1;
    font-family: 'Hanna', sans-serif;
    background-color:#F5F0F3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
    color: white;
}
#dot_Wrap{
    position: fixed;
    width: 60%;
    height: 600px;
    left: 50%;
    margin-left:-30%;
    top:50%;
    margin-top:-200px;
}
.dot1{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color:#fff;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
    opacity: 0.9;
}
.dot2{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: #fff;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
    opacity: 0.9;
}
.dot3{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: #fff;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
    opacity: 0.9;
}
.dot4{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: #fff;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
    opacity: 0.9;
}
@-webkit-keyframes neon{
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #77ccd8, 0 0 40px #77ccd8, 0 0 70px #77ccd8, 0 0 80px #77ccd8, 0 0 100px #77ccd8, 0 0 150px #77ccd8;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #77ccd8, 0 0 20px #77ccd8, 0 0 35px #77ccd8, 0 0 40px #77ccd8, 0 0 50px #77ccd8, 0 0 75px #77ccd8;
  }
}
@keyframes neon{
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #77ccd8, 0 0 40px #77ccd8, 0 0 70px #77ccd8, 0 0 80px #77ccd8, 0 0 100px #77ccd8, 0 0 150px #77ccd8;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #77ccd8, 0 0 20px #77ccd8, 0 0 35px #77ccd8, 0 0 40px #77ccd8, 0 0 50px #77ccd8, 0 0 75px #77ccd8;
  }
}
@-moz-keyframes neon{
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #77ccd8, 0 0 40px #77ccd8, 0 0 70px #77ccd8, 0 0 80px #77ccd8, 0 0 100px #77ccd8, 0 0 150px #77ccd8;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #77ccd8, 0 0 20px #77ccd8, 0 0 35px #77ccd8, 0 0 40px #77ccd8, 0 0 50px #77ccd8, 0 0 75px #77ccd8;
  }
}
#global_Nav{
    position:absolute;
    top: 0;
    left: 0;
    width:50px;
    margin: 30px;
    z-index: 99;
}
#global_Nav div{
    width:inherit;
    margin: 0 auto;
}
#global_Nav i{
    width:100%;
    text-align: center;
    font-size:2.5em;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#global_Nav i:hover{
    cursor: pointer;
}
@-webkit-keyframes neon1 {
   from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
@keyframes neon1{
   from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}
@-moz-keyframes neon1{
   from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}  
#menu{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 5;
    opacity:0.9;
    background: rgba(0,0,0,0.3);
}
#menu ul{
    width:inherit;
    margin-left: 3%;
}
#menu li{
    width: 20%;
    padding: 40px;
    margin: 40px;
    text-transform: uppercase;
    font-size: 50px;
}
#menu footer{
    padding: 40px;
    margin-left: 80px;
    margin-top: 40px;
    font-size: 25px;
    color:white;
}
footer a:hover{
    color: #99dcd5;
}
#bg img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#about{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: rgba(0,0,0,0.3);
    color:white;
    text-align: center;
}
.about_Wrap{
    position: absolute;
    width: inherit;
    height: 500px;
    top: 50%;
    margin-top: -250px;
}
#about img{
    border-radius:50%;
    width:300px;
    height:300px;
    float: left;
    margin:80px;
}
#about p{
    margin: 20px;
    font-size: 2em;
}
#about p:nth-child(2){
    margin-top: 100px;
    font-size: 2.5em;
}
#about h1{
   font-size: 3em;
}
.skill{
    position: absolute;
    right: 9%;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    height: 50px;
    text-transform: uppercase;
}
.skill strong{
    display: inline;
    float: left;
    margin: 0;
    font-size: 2.5em;
    margin-top: 3px;
    margin-left: 25px;
}
.skill ul{
    margin-top: 0;
    padding-left: 110px;
    font-size: 2.5em;
    -webkit-animation: 6s linear 0s normal none infinite change;
    animation: 6s linear 0s normal none infinite change;
}
.skill li{
    line-height: 45px;
    margin: 0;
}
@-webkit-keyframes change {
  0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  34%,46% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  51%,63% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  68%,80% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  85%,97% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}
@keyframes change{
    0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  34%,46% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  51%,63% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  68%,80% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  85%,97% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}
@-moz-keyframes change{
    0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  34%,46% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  51%,63% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  68%,80% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  85%,97% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}
.html{
    color:darkorange;
}
.css{
    color: darkturquoise;
}
.js{
    color: yellow;
}
.jq{
    color: dodgerblue;
}

.text--line {
  font-size: .4em;
}
#wise_Wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    font: 12em/1 Arial;
}
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 20 80;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 9s infinite linear;
          animation: stroke-offset 9s infinite linear;
  -moz-animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 20;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 40;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 60;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 80;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 100;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 100;
    stroke-dasharray: 0 250;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 100;
    stroke-dasharray: 0 250;
  }
}
@-moz-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 100;
    stroke-dasharray: 0 250;
  }
}
#pf {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    color:white;
    text-align: center;
}
.slider {
    position: relative;
    width: inherit;
    height: 500px;
    top: 50%;
    margin-top: -250px;
}
.slider li>ul{
    width: inherit;
    height: inherit;
    padding-top: 10%;
    font-size: 40px;
    color: white;
}
.slider img {
    position: absolute;
    left:50%;
    margin-left: -40%;
    width:80%;
    height:100%;
}
#dots {
    position:relative;
    top: 50%;
    list-style:none;
    padding:0px;
    margin-bottom: 8px;
}
#dots li {
  display:inline-block;
  border-radius:50%;
  width:20px;
  height:20px;
  margin: 0 5px;
  border:2px solid hotpink;
  background: white;
  cursor:pointer;
}
#dots li.active {
  background:hotpink;
}
@media only screen and (max-width:768px){
    #global_Nav{
        margin: 5px;
    }
    #menu{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 5;
    opacity:0.9;
    background: rgba(0,0,0,0.3);
}
    #menu ul{
    width:inherit;
    margin-left: 3%;
}
    #menu li{
    width: 20%;
    padding: 25px;
    margin: 40px;
    text-transform: uppercase;
    font-size: 40px;
}
    #menu footer{
    padding: 30px;
    margin-left:60px;
    margin-top: 2%;
    font-size: 20px;
    color:white;
}
    #dot_Wrap{
    position: fixed;
    width: 60%;
    height: 450px;
    left: 50%;
    margin-left:-30%;
    top:50%;
    margin-top:-170px;
}
    .slider li>ul{
    width: inherit;
    height: inherit;
    padding-top: 20%;
    font-size: 2em;
    color: white;
}
    #about p{
    margin: 20px;
    font-size: 1.5em;
}
    #about p:nth-child(2){
    margin-top: 100px;
    font-size: 1.5em;
}
    #about h1{
   font-size: 2em;
}
    .skill{
    right: 0;
}
.skill strong{
    font-size: 2em;
}
.skill ul{
    font-size: 2em;
}
    .skill li{
    line-height: 42px;
}
    #about img{
    margin-left:40px;
    margin-top: 90px;
}
    .slider img {
    margin-left: -38%;
    width:76%;
    height:90%;
}
    #dots {
    top: 45%;
}
    @media only screen and (max-width:320px){
    #dot_Wrap{
    position: fixed;
    width: 60%;
    height: 400px;
    left: 50%;
    margin-left:-30%;
    top:50%;
    margin-top:-170px;
}
        #menu ul{
    width:inherit;
    margin-left: 3%;
}
    #menu li{
    width: 20%;
    padding: 15px;
    margin: 40px;
    text-transform: uppercase;
    font-size: 30px;
}
    #menu footer{
    padding: 20px;
    margin-left:45px;
    margin-top: 2%;
    font-size: 15px;
    color:white;
}
    .slider li>ul{
    width: inherit;
    height: inherit;
    padding-top: 40%;
    font-size: 1.2em;
    color: white;
}
        .slider {
    position: relative;
    width: inherit;
    height: 350px;
    top: 50%;
    margin-top: -175px;
}
        .slider img {
    position: absolute;
    left:50%;
    margin-left: -40%;
    width:80%;
    height:350px;
}
    #dots {
    top: 50%;
}
    #about img{
    position: absolute;
    left: 50%;
    margin-left: -75px;
    width:150px;
    height:150px;
}
    #about p{
    margin: 15px;
    font-size: 1em;
}
    #about p:nth-child(2){
    clear: both;
    margin-top: 250px;
    font-size: 1em;
}
    #about h1{
   font-size: 1.5em;
}
        .skill{
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
    height: 50px;
    text-transform: uppercase;
}
.skill strong{
    display: inline;
    float: left;
    margin: 0;
    font-size: 1.5em;
    margin-top: 3px;
    margin-left: 25px;
}
.skill ul{
    margin-top: 0;
    padding-left: 110px;
    font-size: 1.5em;
    -webkit-animation: 6s linear 0s normal none infinite change;
    animation: 6s linear 0s normal none infinite change;
}
.skill li{
    line-height: 45px;
    margin: 0;
}
    }




